<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,55}</string>
                <key>textureRect</key>
                <string>{{668,930},{86,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,381}</string>
                <key>spriteSourceSize</key>
                <string>{385,381}</string>
                <key>textureRect</key>
                <string>{{1,595},{385,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,161}</string>
                <key>spriteSourceSize</key>
                <string>{531,161}</string>
                <key>textureRect</key>
                <string>{{1254,621},{531,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,290}</string>
                <key>spriteSourceSize</key>
                <string>{352,290}</string>
                <key>textureRect</key>
                <string>{{388,638},{352,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgAlert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,568}</string>
                <key>spriteSourceSize</key>
                <string>{608,568}</string>
                <key>textureRect</key>
                <string>{{592,1},{608,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgColor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{565,595},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgbottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,204}</string>
                <key>spriteSourceSize</key>
                <string>{720,204}</string>
                <key>textureRect</key>
                <string>{{1202,1},{720,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,156}</string>
                <key>spriteSourceSize</key>
                <string>{112,156}</string>
                <key>textureRect</key>
                <string>{{1787,621},{112,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgtop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,141}</string>
                <key>spriteSourceSize</key>
                <string>{720,141}</string>
                <key>textureRect</key>
                <string>{{1202,207},{720,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{995,670},{215,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gksp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{1005,757},{215,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ljsh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{997,844},{215,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_mfzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{997,931},{215,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,107}</string>
                <key>spriteSourceSize</key>
                <string>{89,107}</string>
                <key>textureRect</key>
                <string>{{1606,851},{89,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{1932,303},{215,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_zpcj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,85}</string>
                <key>spriteSourceSize</key>
                <string>{215,85}</string>
                <key>textureRect</key>
                <string>{{1222,843},{215,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubbling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,124}</string>
                <key>spriteSourceSize</key>
                <string>{169,124}</string>
                <key>textureRect</key>
                <string>{{1806,350},{169,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{931,972},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,70}</string>
                <key>textureRect</key>
                <string>{{1809,779},{61,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cz_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,77}</string>
                <key>spriteSourceSize</key>
                <string>{83,77}</string>
                <key>textureRect</key>
                <string>{{1926,975},{83,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gb_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,97}</string>
                <key>spriteSourceSize</key>
                <string>{251,97}</string>
                <key>textureRect</key>
                <string>{{742,670},{251,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heartbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,31}</string>
                <key>spriteSourceSize</key>
                <string>{162,31}</string>
                <key>textureRect</key>
                <string>{{1552,1001},{162,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,30}</string>
                <key>spriteSourceSize</key>
                <string>{457,30}</string>
                <key>textureRect</key>
                <string>{{742,638},{457,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1212,638},{39,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_nc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1932,520},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,46}</string>
                <key>spriteSourceSize</key>
                <string>{49,46}</string>
                <key>textureRect</key>
                <string>{{1382,930},{49,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{1848,975},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,69}</string>
                <key>spriteSourceSize</key>
                <string>{261,69}</string>
                <key>textureRect</key>
                <string>{{742,769},{261,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ks_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,131}</string>
                <key>spriteSourceSize</key>
                <string>{127,131}</string>
                <key>textureRect</key>
                <string>{{1901,621},{127,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lbl_haoyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,57}</string>
                <key>spriteSourceSize</key>
                <string>{137,57}</string>
                <key>textureRect</key>
                <string>{{1606,942},{137,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_haoyouzhuli2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,43}</string>
                <key>spriteSourceSize</key>
                <string>{161,43}</string>
                <key>textureRect</key>
                <string>{{1389,989},{161,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_hdcz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,35}</string>
                <key>spriteSourceSize</key>
                <string>{108,35}</string>
                <key>textureRect</key>
                <string>{{653,1018},{108,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_hyzhuli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,57}</string>
                <key>spriteSourceSize</key>
                <string>{249,57}</string>
                <key>textureRect</key>
                <string>{{1222,784},{249,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_nc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,35}</string>
                <key>textureRect</key>
                <string>{{993,1018},{58,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_paihangb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,58}</string>
                <key>spriteSourceSize</key>
                <string>{193,58}</string>
                <key>textureRect</key>
                <string>{{320,995},{193,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_phb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,43}</string>
                <key>spriteSourceSize</key>
                <string>{122,43}</string>
                <key>textureRect</key>
                <string>{{1901,750},{122,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lbl_tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,58}</string>
                <key>spriteSourceSize</key>
                <string>{136,58}</string>
                <key>textureRect</key>
                <string>{{515,995},{136,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,42}</string>
                <key>spriteSourceSize</key>
                <string>{135,42}</string>
                <key>textureRect</key>
                <string>{{1872,795},{135,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,660}</string>
                <key>spriteSourceSize</key>
                <string>{65,660}</string>
                <key>textureRect</key>
                <string>{{592,571},{65,660}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,660}</string>
                <key>spriteSourceSize</key>
                <string>{66,660}</string>
                <key>textureRect</key>
                <string>{{1254,553},{66,660}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maskbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{84,96}</string>
                <key>textureRect</key>
                <string>{{1715,851},{84,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,18}</string>
                <key>spriteSourceSize</key>
                <string>{63,18}</string>
                <key>textureRect</key>
                <string>{{1053,1018},{63,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>probg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{1806,521},{56,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,106}</string>
                <key>spriteSourceSize</key>
                <string>{300,106}</string>
                <key>textureRect</key>
                <string>{{1924,1},{300,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spr_bigwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,63}</string>
                <key>spriteSourceSize</key>
                <string>{278,63}</string>
                <key>textureRect</key>
                <string>{{388,930},{278,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_fxdjb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,64}</string>
                <key>spriteSourceSize</key>
                <string>{317,64}</string>
                <key>textureRect</key>
                <string>{{1,978},{317,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,62}</string>
                <key>spriteSourceSize</key>
                <string>{165,62}</string>
                <key>textureRect</key>
                <string>{{1439,925},{165,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_ljsh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,64}</string>
                <key>spriteSourceSize</key>
                <string>{253,64}</string>
                <key>textureRect</key>
                <string>{{742,840},{253,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_mfzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,64}</string>
                <key>spriteSourceSize</key>
                <string>{253,64}</string>
                <key>textureRect</key>
                <string>{{742,906},{253,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_repeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,65}</string>
                <key>spriteSourceSize</key>
                <string>{237,67}</string>
                <key>textureRect</key>
                <string>{{1473,784},{237,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spr_shuidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,63}</string>
                <key>spriteSourceSize</key>
                <string>{166,63}</string>
                <key>textureRect</key>
                <string>{{763,972},{166,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{1212,679},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>syshlc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,26}</string>
                <key>spriteSourceSize</key>
                <string>{158,26}</string>
                <key>textureRect</key>
                <string>{{1872,839},{158,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,73}</string>
                <key>spriteSourceSize</key>
                <string>{166,73}</string>
                <key>textureRect</key>
                <string>{{1214,930},{166,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{1439,851},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,56}</string>
                <key>spriteSourceSize</key>
                <string>{75,56}</string>
                <key>textureRect</key>
                <string>{{1813,851},{75,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tx_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,107}</string>
                <key>spriteSourceSize</key>
                <string>{106,107}</string>
                <key>textureRect</key>
                <string>{{1871,867},{106,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,46}</string>
                <key>spriteSourceSize</key>
                <string>{33,46}</string>
                <key>textureRect</key>
                <string>{{1980,918},{33,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{1980,867},{45,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,29}</string>
                <key>spriteSourceSize</key>
                <string>{175,29}</string>
                <key>textureRect</key>
                <string>{{388,595},{175,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xx_t2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,27}</string>
                <key>spriteSourceSize</key>
                <string>{173,27}</string>
                <key>textureRect</key>
                <string>{{1214,1005},{173,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zl_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{602,201}</string>
                <key>spriteSourceSize</key>
                <string>{602,201}</string>
                <key>textureRect</key>
                <string>{{1202,350},{602,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,592}</string>
                <key>spriteSourceSize</key>
                <string>{589,592}</string>
                <key>textureRect</key>
                <string>{{1,1},{589,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zp_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,116}</string>
                <key>spriteSourceSize</key>
                <string>{101,116}</string>
                <key>textureRect</key>
                <string>{{1745,937},{101,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zp_zz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,95}</string>
                <key>spriteSourceSize</key>
                <string>{65,95}</string>
                <key>textureRect</key>
                <string>{{1712,784},{65,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2033,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dfe6d45138d6975232f33a17b28e0e8:9129932d533f22e441906f3b31764a1a:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
